In [3]:
import tqdm
import os
import random
import numpy as np
import pandas as pd

In [4]:
def add_zeroes(s):
    pref = ""
    for i in range(6 - len(s)):
        pref += '0'
    pref += s
    return pref

In [5]:
add_zeroes('100000')

'100000'

In [6]:
k = 1
for dpath, dnames, fnames in os.walk('./SCReplay/img/'):
    os.chdir(dpath)
    for f in fnames:
        #os.rename(f, "frame_" + add_zeroes(str(k)) + ".jpg")
        k += 1

In [7]:
k -= 1
k

117341

In [21]:
k = 30000

In [22]:
test_split_ind = random.sample(range(1, k + 1), int(k * 0.2))

In [23]:
train_split_ind = [ind for ind in range(1, k + 1) if ind not in test_split_ind]

In [24]:
len(train_split_ind) + len(test_split_ind)

30000

In [25]:
train_df = pd.DataFrame(train_split_ind, index=None)

In [26]:
test_df = pd.DataFrame(test_split_ind, index=None)

In [27]:
train_df.head(3)

   0
0  1
1  2
2  3

In [28]:
os.chdir('/media/xsardas/HDD/Remote/NN/Project/')

In [29]:
!pwd

/media/xsardas/HDD/Remote/NN/Project

In [30]:
train_df.to_csv('train_split.csv', index=False)

In [31]:
test_df.to_csv('test_split.csv', index=False)

In [ ]:
!rm test_split.csv